:root {
  --size-1: 2vw;
  --percent: 8%;
  /* variation sizes */
  --size-2: calc(var(--size-1) * 3);
  --size-0_1: calc(var(--size-1) * 0.1);
  --nav-button-width: 8%;
}
.mobile {
  --nav-button-width: 20%;
}

.portrait.mobile {
  --percent: 20%;
  --size-1: 4.7vw;
}

.horizontal.mobile {
  --nav-button-width: 10%;
}

.mobile.landscape {
  --size-1: 2.7vh;
}

.portrait.horizontal {
  --size-1: 1.5vw;
}

.landscape.horizontal {
  --size-1: 2.8vh;
}

/*
.horizontal {
  --size-1: 2vw;
}

.vertical {
  --size-1: 2vh;
}
  */

.Screen {
  font-size: var(--size-1); /*default font size*/
  background: url(/bg.jpg) center / cover no-repeat;
  background-color: blueviolet;
  position: relative;

  /* make text un-selectable */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.desktop,
.mobile {
  width: 100%;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  max-width: calc(100vh * 16 / 9);
}

.vertical.mobile {
  width: calc(100vh * 9 / 16);
  height: 100%;
  max-height: calc(100vw * 16 / 9);
  max-width: 100vw;
}
