.AboutWindow {
  width: calc(var(--percent) * 4);
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 20%;
  top: 20%;

  .top-bar {
    background-color: rgb(137, 138, 165);
    color: white;
  }
  .content {
    background-color: rgb(175, 137, 137);
    height: 100%;
  }
  
  .pfp {
    height: 60%;
    width: auto;
  }
}